html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.wrapper {
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 27px;
  background:#EFCA51;
  padding: 0 2.5rem;
}

a {
  color:white;
  text-decoration: none;
}

.wrapper header i {
  font-size: 50px;
}

.app-name, .menu-icon, .locator-icon {
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.app-name:active, .menu-icon:active, .locator-icon:active {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.menu-icon, .locator-icon {
  padding: 1rem 1.5rem;
}

.content {
  display: flex;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
}

.content > * {
  flex: 1;
  color: white;
}

.intro-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faebd7;
  text-align: center;
}

.intro-motto {
  font-size: 5em;
  padding: 0 50px;
}

.swap-tiles-container {
  display: flex;
  flex-direction: column;
}

.swap-tile {
  padding: 50% 0;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #add8e6;
}

.swap-name {
  font-size: 4em;
}

input {
  font-size: 3.5em;
  min-width: 65%;
  height: 110px;
  margin: 2% 0;
  border-radius: 7px;
  text-align: center;
  color: black;
}

input[type="submit"] {
  background:#FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color:white;
}

::-webkit-input-placeholder {
  text-align: center;
}